$empty: polygon(50% 50%, 50% 50%, 50% 50% );

$js: polygon(28.13% 26.77%, 36.63% 32.43%, 39% 26.77% ),
polygon(36.63% 32.43%, 41.38% 32.43%, 39% 26.77% ),
polygon(28.13% 32.43%, 36.63% 32.43%, 28.13% 26.77% ),
polygon(41.38% 32.43%, 49.88% 26.77%, 39% 26.77% ),
polygon(36.63% 44.12%, 41.38% 44.55%, 36.63% 32.43% ),
polygon(41.38% 44.55%, 41.38% 32.43%, 36.63% 32.43% ),
polygon(41.38% 69.43%, 41.38% 58.22%, 36.63% 59.22% ),
polygon(36.63% 69.43%, 41.38% 69.43%, 36.63% 59.22% ),
polygon(49.88% 32.43%, 49.88% 26.77%, 41.38% 32.43% ),
polygon(36.63% 59.22%, 41.38% 58.22%, 36.63% 44.12% ),
polygon(41.38% 58.22%, 41.38% 44.55%, 36.63% 44.12% ),
polygon(66.3% 62.73%, 72.45% 64.6%, 68.49% 60.75% ),
polygon(70.42% 36.12%, 73.04% 30.8%, 68.78% 34.82% ),
polygon(68.78% 34.82%, 69.99% 28.42%, 65.31% 33.22% ),
polygon(68.26% 68.73%, 72.45% 64.6%, 66.3% 62.73% ),
polygon(73.04% 30.8%, 69.99% 28.42%, 68.78% 34.82% ),
polygon(54.3% 59.12%, 51.21% 63.98%, 57.96% 62.07% ),
polygon(51.21% 63.98%, 56.05% 68.03%, 57.96% 62.07% ),
polygon(57.96% 62.07%, 56.05% 68.03%, 63.11% 63.37% ),
polygon(69.99% 28.42%, 66.59% 26.93%, 65.31% 33.22% ),
polygon(63.11% 63.37%, 63.06% 69.82%, 66.3% 62.73% ),
polygon(63.06% 69.82%, 68.26% 68.73%, 66.3% 62.73% ),
polygon(56.05% 68.03%, 63.06% 69.82%, 63.11% 63.37% ),
polygon(62.99% 26.38%, 58.91% 27.2%, 62.74% 32.83% ),
polygon(65.31% 33.22%, 66.59% 26.93%, 62.74% 32.83% ),
polygon(69.22% 46.58%, 68.26% 53.58%, 71.89% 49.4% ),
polygon(65.44% 45.08%, 65.21% 51.67%, 69.22% 46.58% ),
polygon(61.1% 50.87%, 65.21% 51.67%, 65.44% 45.08% ),
polygon(61.95% 44.42%, 61.1% 50.87%, 65.44% 45.08% ),
polygon(73.31% 52.67%, 69.25% 57.42%, 73.95% 57.38% ),
polygon(69.25% 57.42%, 68.49% 60.75%, 73.95% 57.38% ),
polygon(68.49% 60.75%, 72.45% 64.6%, 73.95% 57.38% ),
polygon(71.89% 49.4%, 68.26% 53.58%, 73.31% 52.67% ),
polygon(57.58% 49.4%, 61.1% 50.87%, 61.95% 44.42% ),
polygon(68.26% 53.58%, 69.25% 57.42%, 73.31% 52.67% ),
polygon(65.21% 51.67%, 68.26% 53.58%, 69.22% 46.58% ),
polygon(55.56% 29.85%, 53.8% 33.02%, 59.11% 34.33% ),
polygon(58.91% 27.2%, 55.56% 29.85%, 59.11% 34.33% ),
polygon(59.11% 34.33%, 53.8% 33.02%, 57.56% 38.97% ),
polygon(62.74% 32.83%, 58.91% 27.2%, 59.11% 34.33% ),
polygon(66.59% 26.93%, 62.99% 26.38%, 62.74% 32.83% ),
polygon(53.8% 33.02%, 52.86% 38.88%, 57.56% 38.97% ),
polygon(53.4% 43.2%, 55.01% 46.8%, 58.6% 42.3% ),
polygon(55.01% 46.8%, 57.58% 49.4%, 58.6% 42.3% ),
polygon(58.6% 42.3%, 57.58% 49.4%, 61.95% 44.42% ),
polygon(52.86% 38.88%, 53.4% 43.2%, 57.56% 38.97% ),
polygon(57.56% 38.97%, 53.4% 43.2%, 58.6% 42.3% );

$vue: polygon(23.86% 49.93%, 29.15% 46.12%, 25.83% 40.9% ),
polygon(22.5% 56.22%, 29.15% 46.12%, 23.86% 49.93% ),
polygon(24.29% 66.4%, 26.81% 55.87%, 22.5% 56.22% ),
polygon(29.15% 46.12%, 31.62% 35.8%, 25.83% 40.9% ),
polygon(25.83% 40.9%, 31.62% 35.8%, 27.79% 31.83% ),
polygon(27.79% 31.83%, 34.54% 23.68%, 29.56% 23.68% ),
polygon(31.62% 35.8%, 34.54% 23.68%, 27.79% 31.83% ),
polygon(20.64% 66.4%, 24.29% 66.4%, 22.5% 56.22% ),
polygon(26.81% 55.87%, 29.15% 46.12%, 22.5% 56.22% ),
polygon(15.39% 23.68%, 12.35% 31.77%, 16.77% 30.08% ),
polygon(16.77% 30.08%, 12.35% 31.77%, 18.63% 38.65% ),
polygon(10.41% 23.68%, 12.35% 31.77%, 15.39% 23.68% ),
polygon(12.35% 31.77%, 14.76% 41.85%, 18.63% 38.65% ),
polygon(18.63% 38.65%, 14.76% 41.85%, 20.34% 46.6% ),
polygon(17.54% 53.43%, 20.64% 66.4%, 22.5% 56.22% ),
polygon(20.34% 46.6%, 17.54% 53.43%, 22.5% 56.22% ),
polygon(14.76% 41.85%, 17.54% 53.43%, 20.34% 46.6% ),
polygon(53.64% 65.58%, 56.99% 62.62%, 53.66% 57.9% ),
polygon(41.34% 62.62%, 45.43% 65.97%, 44.63% 57.9% ),
polygon(44.63% 57.9%, 45.43% 65.97%, 49.13% 60.3% ),
polygon(39.16% 58.68%, 41.34% 62.62%, 44.63% 57.9% ),
polygon(38.1% 51.93%, 39.16% 58.68%, 42.8% 51.25% ),
polygon(45.43% 65.97%, 49.13% 66.75%, 49.13% 60.3% ),
polygon(49.13% 60.3%, 53.64% 65.58%, 53.66% 57.9% ),
polygon(49.13% 66.75%, 53.64% 65.58%, 49.13% 60.3% ),
polygon(42.8% 51.25%, 39.16% 58.68%, 44.63% 57.9% ),
polygon(38.1% 29.7%, 38.1% 37.07%, 42.8% 30.27% ),
polygon(38.1% 23.68%, 38.1% 29.7%, 42.8% 30.27% ),
polygon(42.8% 30.27%, 38.1% 37.07%, 42.8% 37.07% ),
polygon(42.8% 45.22%, 38.1% 51.93%, 42.8% 51.25% ),
polygon(38.1% 45.22%, 38.1% 51.93%, 42.8% 45.22% ),
polygon(42.8% 37.07%, 38.1% 37.07%, 42.8% 45.22% ),
polygon(38.1% 37.07%, 38.1% 45.22%, 42.8% 45.22% ),
polygon(42.8% 23.68%, 38.1% 23.68%, 42.8% 30.27% ),
polygon(60.15% 32%, 60.15% 23.68%, 55.45% 31.13% ),
polygon(55.45% 31.13%, 60.15% 23.68%, 55.45% 23.68% ),
polygon(56.99% 62.62%, 59.31% 57.97%, 53.66% 57.9% ),
polygon(60.15% 43.13%, 60.15% 32%, 55.45% 40.1% ),
polygon(55.45% 40.1%, 60.15% 32%, 55.45% 31.13% ),
polygon(59.31% 57.97%, 60.15% 51.92%, 55.45% 51.25% ),
polygon(53.66% 57.9%, 59.31% 57.97%, 55.45% 51.25% ),
polygon(55.45% 51.25%, 60.15% 43.13%, 55.45% 40.1% ),
polygon(60.15% 51.92%, 60.15% 43.13%, 55.45% 51.25% ),
polygon(86.84% 23.68%, 80.16% 23.68%, 78.31% 29.77% ),
polygon(86.84% 29.77%, 86.84% 23.68%, 78.31% 29.77% ),
polygon(67.01% 52.8%, 71.71% 47.73%, 67.01% 45.22% ),
polygon(67.01% 45.22%, 71.71% 42%, 67.01% 37.63% ),
polygon(78.31% 29.77%, 80.16% 23.68%, 71.71% 29.77% ),
polygon(71.71% 47.73%, 71.71% 42%, 67.01% 45.22% ),
polygon(71.71% 60.3%, 71.71% 47.73%, 67.01% 52.8% ),
polygon(71.71% 29.77%, 67.01% 37.63%, 71.71% 34.88% ),
polygon(71.92% 23.68%, 67.01% 23.68%, 71.71% 29.77% ),
polygon(67.01% 37.63%, 71.71% 42%, 71.71% 34.88% ),
polygon(67.01% 29.27%, 67.01% 37.63%, 71.71% 29.77% ),
polygon(67.01% 23.68%, 67.01% 29.27%, 71.71% 29.77% ),
polygon(80.16% 23.68%, 71.92% 23.68%, 71.71% 29.77% ),
polygon(77.45% 42%, 71.71% 42%, 71.71% 47.73% ),
polygon(86.84% 60.3%, 82.86% 60.3%, 86.84% 66.4% ),
polygon(77.89% 47.73%, 77.45% 42%, 71.71% 47.73% ),
polygon(84.63% 42%, 77.45% 42%, 84.63% 47.73% ),
polygon(67.01% 60.02%, 71.71% 60.3%, 67.01% 52.8% ),
polygon(84.63% 47.73%, 77.45% 42%, 77.89% 47.73% ),
polygon(86.84% 66.4%, 82.86% 60.3%, 80.49% 66.4% ),
polygon(67.01% 66.4%, 71.71% 60.3%, 67.01% 60.02% ),
polygon(71.39% 66.4%, 71.71% 60.3%, 67.01% 66.4% ),
polygon(82.86% 60.3%, 76.26% 60.3%, 80.49% 66.4% ),
polygon(76.26% 60.3%, 71.71% 60.3%, 71.39% 66.4% ),
polygon(80.49% 66.4%, 76.26% 60.3%, 71.39% 66.4% );

@mixin render($list) {
  @for $i from 1 through 85 {
    .t#{$i} {
      transition-delay: random(500) + ms !important;
      @if length($list) >= $i {
        clip-path: nth($list, $i);
        background-color: hsl(173, 100, random(120)/2 + 10 );
      } @else {
        clip-path: $empty;
        background-color: #fff;
      }
    }
  }
}

@include render($js);

#canvas.vue {
  @include render($vue);
}

#canvas {
  position: relative;
  width: 800px;
  height: 600px;
  border: 1px solid green;
  & div {
    width: 800px;
    height: 600px;
    position: absolute;
    transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}
